modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run server"

[[workflows.workflow]]
name = "Run server"
author = 39860185

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
